* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

/* MAIN CONTAINER */
.container {
  width: 90%;
  max-width: 900px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* PROFILE */
.profile {
  text-align: center;
}

.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.profile h2 {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.box {
  flex: 1;
  background: rgba(255,255,255,0.1);
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  transition: 0.3s;
}

.box:hover {
  transform: scale(1.05);
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skill {
  padding: 8px 15px;
  background: rgba(255,255,255,0.15);
  border-radius: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .stats {
    flex-direction: column;
  }

}